<div class="surface-section p-4 md:p-6 lg:p-8">
    <div class="font-medium text-3xl text-primary mb-4">
      <p-toast></p-toast>
      <i class="pi pi-folder mr-2" style="height: 30px; width: 40px; font-size: 40px;"></i>
      Add Project
    </div>
    <div class="text-secondary mb-6">Please fill out all required fields to add a new project.</div>
  
    <div class="surface-card p-5 shadow-2 border-round p-fluid">
      <!-- Title -->
      <div class="field mb-4">
        <label for="title">Title</label>
        <input
          type="text"
          pInputText
          id="title"
          [(ngModel)]="project.title"
          required
          [ngClass]="{'ng-invalid ng-dirty': submitted && !project.title}"
        />
        <small class="p-error" *ngIf="submitted && !project.title">Title is required.</small>
      </div>
  
      <!-- Description -->
      <div class="field mb-4">
        <label for="description">Description</label>
        <textarea
          class="description-input"
          [(ngModel)]="project.description"
          id="description"
          required
        ></textarea>
        <small class="description-error" *ngIf="submitted && !project.description">
          Description is required.
        </small>
      </div>
  
      <!-- Start Date -->
      <div class="field mb-4">
        <label for="start_date">Start Date</label>
        <p-calendar
          id="start_date"
          showIcon="true"
          [(ngModel)]="project.start_date"
          dateFormat="yy-mm-dd"
          required
          [ngClass]="{'ng-invalid ng-dirty': submitted && !project.start_date}"
        ></p-calendar>
        <small class="p-error" *ngIf="submitted && !project.start_date">Start date is required.</small>
      </div>
  
      <!-- End Date -->
      <div class="field mb-4">
        <label for="end_date">End Date</label>
        <p-calendar
          id="end_date"
          showIcon="true"
          [(ngModel)]="project.end_date"
          dateFormat="yy-mm-dd"
          required
          [ngClass]="{'ng-invalid ng-dirty': submitted && !project.end_date}"
        ></p-calendar>
        <small class="p-error" *ngIf="submitted && !project.end_date">End date is required.</small>
      </div>
  
      <!-- Status -->
      <div class="field mb-4">
        <label for="status">Status</label>
        <p-dropdown
          [options]="statuses"
          [(ngModel)]="project.status"
          placeholder="Select Status"
          class="w-full"
        ></p-dropdown>
        <small class="p-error" *ngIf="submitted && !project.status">Status is required.</small>
      </div>
  
      <div class="flex justify-between mt-4">
        <!-- Cancel Button -->
        <button
          pButton
          pRipple
          type="button"
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text p-button-danger box-btn mr-3"
          (click)="cancel()"
        ></button>
  
        <!-- Add Tasks Button -->
        <button
          pButton
          label="Add Tasks"
          icon="pi pi-file"
          class="p-button-info"
          (click)="saveAndNavigateToAddTasks()"
        ></button>
      </div>
    </div>
  </div>
  